<div id="wrap" class="" data-oe-model="ir.ui.view" data-oe-id="1420" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <div class="oe_structure">
        <section class="s_title parallax s_parallax_is_fixed bg-black-50 pt24 pb24 o_colored_level" data-vcss="001" data-snippet="s_title" data-scroll-background-ratio="1">
            <span class="s_parallax_bg oe_img_bg" style="background-image: url('public/images/design-img/parallax_default.png'); background-position: 50% 0;"></span>
            <div class="o_we_bg_filter bg-black-50"></div>
            <div class="container">
                <h1>About us</h1>
            </div>
        </section>
    </div>
    <div class="oe_structure">
        <section class="s_text_image pt80 pb80 o_colored_level" data-snippet="s_image_text">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 pt16 pb16 o_colored_level">
                        <h2 class="h3-fs">Transforming the digital world</h2>
                        <p>In a world driven by technology,<br/> communities focused on digital advancement are expanding<br/> to create positive change.</p>
                        <p><br/></p>
                        <p><a href="#" onclick="return navigateTo('shop')" class="btn btn-secondary">Discover our digital products</a></p>
                    </div>
                    <div class="col-lg-6 pt16 pb16 o_colored_level">
                        <img src="public/images/about-img/Transforming the digital world.jpg" class="img img-fluid mx-auto rounded img-thumbnail" alt="" style="padding: 15px;" loading="lazy" data-mimetype="image/jpeg" data-original-id="315" data-original-src="/theme_treehouse/static/src/img/content/image_text.jpg" data-mimetype-before-conversion="image/jpeg"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_text_image pt80 pb80 o_colored_level" data-snippet="s_image_text">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 pt16 pb16 o_colored_level">
                        <img src="public/images/about-img/explorative.jpg" class="img img-fluid mx-auto rounded img-thumbnail" alt="" style="padding: 15px;" loading="lazy" data-mimetype="image/jpeg" data-original-id="315" data-original-src="/theme_treehouse/static/src/img/content/image_text.jpg" data-mimetype-before-conversion="image/jpeg"/>
                    </div>
                    <div class="col-lg-5 offset-lg-1 pt16 pb16 o_colored_level">
                        <h2 class="h3-fs">Explore Innovative <strong>Digital Solutions</strong></h2>
                        <p>WebTechNest offers a wide range of digital products and services that cater to the needs of businesses and individuals alike. From mobile applications to web development, we provide innovative solutions that are tailored to your specific requirements.</p>
                        <p>Start with the customer – understand their needs and provide them with the best digital solutions.</p>
                        <p><br/></p>
                        <p><a href="#" onclick="return navigateTo('shop')" class="btn btn-secondary">Discover our digital products</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_company_team pt48 pb48 o_colored_level" data-snippet="s_company_team">
            <div class="container">
                <h3>Meet our innovative team</h3>
                <p class="lead">Expert teams driving our digital success</p>
                <div class="row s_nb_column_fixed">
                    <div class="col-lg-6 pt32 pb32 o_colored_level" data-name="Team Member">
                        <div class="row s_col_no_resize s_col_no_bgcolor">
                            <div class="col-lg-3 pb24 o_not_editable">
                                <!--CEO Needs Image-->
                                <img alt="" src="" class="img-fluid rounded-circle o_editable_media w-lg-100 mx-lg-auto" loading="lazy"/>
                            </div>
                            <div class="col-lg-9">
                                <h4 class="h5-fs">Tony Fred</h4>
                                <p class="text-muted mb-3">Chief Technology Officer</p>
                                <p>Meet Tony, our hands-on CEO who drives our company's success</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt32 pb32 o_colored_level" data-name="Team Member">
                        <div class="row s_col_no_resize s_col_no_bgcolor">
                            <div class="col-lg-3 pb24 o_not_editable">
                                <!--Marketing Needs Image-->
                                <img alt="" src="" class="img-fluid rounded-circle o_editable_media w-lg-100 mx-lg-auto" loading="lazy"/>
                            </div>
                            <div class="col-lg-9">
                                <h4 class="h5-fs">Mich Stark</h4>
                                <p class="text-muted mb-3">Chief Marketing Officer</p>
                                <p>Meet Mich, our experienced Commercial Director who has helped shape our company's success</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt32 pb32 o_colored_level" data-name="Team Member">
                        <div class="row s_col_no_resize s_col_no_bgcolor">
                            <div class="col-lg-3 pb24 o_not_editable">
                                <!--Chief Needs Image-->
                                <img alt="" src="" class="img-fluid rounded-circle o_editable_media w-lg-100 mx-lg-auto" loading="lazy"/>
                            </div>
                            <div class="col-lg-9">
                                <h4 class="h5-fs">Alice Johnson</h4>
                                <p class="text-muted mb-3">Chief Product Officer</p>
                                <p>"Company WebTechNest's digital products have revolutionized the way we work. We are now more productive than ever." - Aline Lee, CTO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt32 pb32 o_colored_level" data-name="Team Member">
                        <div class="row s_col_no_resize s_col_no_bgcolor">
                            <div class="col-lg-3 pb24 o_not_editable">
                                <!--Office M Needs Image-->
                                <img alt="" src="" class="img-fluid rounded-circle o_editable_media w-lg-100 mx-lg-auto" loading="lazy"/>
                            </div>
                            <div class="col-lg-9">
                                <h4 class="h5-fs">Iris Joe</h4>
                                <p class="text-muted mb-3">Chief Operations Officer</p>
                                <p>Iris, with her international experience, helps us easily understand the numbers and improve them. She is determined to drive success and deliver her professional acumen to bring the company to the next level.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>