<div class="container mt-3">
    <div class="alert alert-info alert-dismissible fade show d-print-none css_editable_mode_hidden">
        <div id="terms_conditions" class="text-center">
            <span>This is a preview of your Terms & Conditions.</span>
            <a href="#" onclick="return navigateTo('shop')">
                <i class="bi bi-arrow-right me-1"></i>Back to Shop
            </a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            data-oe-model="ir.ui.view" data-oe-id="1826" data-oe-field="arch"
            data-oe-xpath="/t[1]/button[1]">
        </button>
    </div>
</div>

<div class="oe_structure" id="oe_structure_terms_conditions"
    data-oe-model="ir.ui.view" data-oe-id="1827"
    data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
</div>

<div class="container oe_website_terms_conditions">
    <div id="o_terms_conditions">
        <div data-oe-xpath="/t[1]/t[1]/div[2]/div[1]/div[1]"    
            data-oe-model="res.company" data-oe-id="1"
            data-oe-field="invoice_terms_html" data-oe-type="html"
            data-oe-expression="company.invoice_terms_html"
            data-oe-sanitize="1">
            
            <div>
                <h1>STANDARD TERMS AND CONDITIONS OF SALE</h1>
                <p>You should update this document to reflect your T&amp;C.</p>
                <p>Below text serves as a suggestion and doesn’t engage Odoo S.A. responsibility.</p>
                <ol>
                    <li>
                        The client explicitly waives its own standard terms and conditions, even if these were drawn up after these standard terms and conditions of sale. In order to be valid, any derogation must be expressly agreed to in advance in writing.
                    </li>
                    <li>
                        Our invoices are payable within 21 working days, unless another payment timeframe is indicated on either the invoice or the order. In the event of non-payment by the due date, WebTechNest reserves the right to request a fixed interest payment amounting to 10% of the sum remaining due. WebTechNest will be authorized to suspend any provision of services without prior warning in the event of late payment.
                    </li>
                    <li>
                        If a payment is still outstanding more than sixty (60) days after the due payment date, WebTechNest reserves the right to call on the services of a debt recovery company. All legal expenses will be payable by the client.
                    </li>
                    <li>
                        Certain countries apply withholding at source on the amount of invoices, in accordance with their internal legislation. Any withholding at source will be paid by the client to the tax authorities. Under no circumstances can WebTechNest become involved in costs related to a country's legislation. The amount of the invoice will therefore be due to WebTechNest in its entirety and does not include any costs relating to the legislation of the country in which the client is located.
                    </li>
                    <li>
                        WebTechNest undertakes to do its best to supply performant services in due time in accordance with the agreed timeframes. However, none of its obligations can be considered as being an obligation to achieve results. WebTechNest cannot under any circumstances, be required by the client to appear as a third party in the context of any claim for damages filed against the client by an end consumer.
                    </li>
                    <li>
                        In order for it to be admissible, WebTechNest must be notified of any claim by means of a letter sent by recorded delivery to its registered office within 8 days of the delivery of the goods or the provision of the services.
                    </li>
                    <li>
                        All our contractual relations will be governed exclusively by Philippines law.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div id="o_shared_blocks" class="oe_unremovable"
    data-oe-id="605" data-oe-xpath="/data/xpath/div"
    data-oe-model="ir.ui.view" data-oe-field="arch">
</div>
