<div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="2687" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]"><section class="s_text_block o_colored_level o_cc o_cc2 pb0 pt0" data-snippet="s_text_block" data-name="Text" style="background-color: rgb(0, 85, 255);">
    <div class="s_allow_columns o_container_small">
        
    <div class="row o_grid_mode" data-row-count="6"><div class="o_grid_item g-col-lg-12 o_colored_level g-height-6 col-lg-12" style="grid-area: 1 / 1 / 7 / 13; z-index: 1;"><img src="/web/image/892-195fbc59/gcash-removebg-preview.png" alt="" class="img img-fluid o_we_custom_image" style="transform: translateX(-0.6%) translateY(-17.2%) scaleX(0.42) scaleY(0.4); animation-play-state: paused; transition: none;" data-mimetype="image/png" data-original-id="892" data-original-src="/web/image/892-195fbc59/gcash-removebg-preview.png" data-mimetype-before-conversion="image/png" loading="lazy"/><h1 style="text-align: center;"><br/></h1></div></div></div>
</section>
<section class="s_comparisons pb48 o_cc o_cc2 o_colored_level pt56" data-vxml="001" data-vcss="001" data-snippet="s_comparisons" data-name="Comparisons">
    <div class="container">
        
        <div class="row gap-4 gap-lg-0 o_grid_mode" data-row-count="12"><div class="o_grid_item g-col-lg-12 g-height-3 col-lg-12" style="grid-area: 1 / 1 / 4 / 13; z-index: 1;"><div class="mb-4">
            <h3>Competitive pricing</h3>
            <p class="lead">Listing your product pricing helps potential customers quickly determine if it fits their budget and needs.</p>
        </div></div>
            <div class="o_grid_item g-col-lg-4 g-height-10 col-lg-4" data-name="Plan" style="grid-area: 3 / 1 / 13 / 5; z-index: 2;">
                <div class="s_card card o_cc o_cc1 h-100 my-0" data-vxml="001" data-snippet="s_card" data-name="Card">
                    <div class="card-body">
                        <h5 class="card-title">Beginner</h5>
                        <div class="my-2">
                            <strong class="h2-fs">$ 15.00</strong>
                            <small class="text-muted">/ month</small>
                        </div>
                        <p class="card-text small">Ideal for newcomers. Essential features to kickstart sales and marketing. Perfect for small teams.</p>
                        <a href="/contactus" class="btn btn-outline-primary w-100 mb-3">Start Now</a>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Sales &amp; marketing for 2</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Account management</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-times text-danger" role="img"></i>  No customization</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-times text-danger" role="img"></i>  No support</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-center">Instant setup, satisfied or reimbursed.</small>
                    </div>
                </div>
            </div>
            
            <div class="o_grid_item g-col-lg-4 g-height-10 col-lg-4" data-name="Plan" style="grid-area: 3 / 9 / 13 / 13; z-index: 4;">
                <div class="s_card card o_cc o_cc1 h-100 my-0" data-vxml="001" data-snippet="s_card" data-name="Card">
                    <div class="card-body">
                        <h5 class="card-title">Expert</h5>
                        <div class="my-2">
                            <strong class="h2-fs">$ 45.00</strong>
                            <small class="text-muted">/ month</small>
                        </div>
                        <p class="card-text small">Advanced solution for enterprises. Cutting-edge features and top-tier support for maximum performance.</p>
                        <a href="/contactus" class="btn btn-outline-primary w-100 mb-3">Contact Us</a>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Unlimited CRM support</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  All modules &amp; features</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Unlimited customization</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  24/7 toll-free support</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-center">Instant setup, satisfied or reimbursed.</small>
                    </div>
                </div>
            </div>
        <div class="o_grid_item g-col-lg-4 g-height-10 col-lg-4 o_colored_level" data-name="Plan" style="z-index: 3; grid-area: 3 / 5 / 13 / 9;">
                <div class="s_card card o_cc o_cc1 h-100 my-0 o_colored_level" data-vxml="001" data-snippet="s_card" data-name="Card">
                    <div class="card-body">
                        <h5 class="card-title">Professional</h5>
                        <div class="my-2">
                            <strong class="h2-fs">$ 25.00</strong>
                            <small class="text-muted">/ month</small>
                        </div>
                        <p class="card-text small">Comprehensive tools for growing businesses. Optimize your processes and productivity across your team.</p>
                        <a href="/contactus" class="btn btn-primary w-100 mb-3">Start Now</a>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Complete CRM for any team</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Access all modules</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Limited customization</li>
                            <li class="list-group-item px-0 bg-transparent text-reset"><i class="fa fa-check text-success" role="img"></i>  Email support</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-center">Instant setup, satisfied or reimbursed.</small>
                    </div>
                </div>
            </div></div>
    </div>
</section>
<section class="s_call_to_action o_cc o_cc5 pt80 pb48" data-oe-shape-data="{&#34;shape&#34;:&#34;web_editor/Rainy/08_001&#34;}" data-snippet="s_call_to_action" data-name="Call to Action">
    <div class="o_we_shape o_web_editor_Rainy_08_001"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center;">Help us protect and preserve for future generations</h3>
<p class="lead" style="text-align: center;">Join us and make the planet a better place.</p>
</div>
            <div class="col-lg-12">
                <p style="text-align: center;">
                    <a class="btn btn-primary btn-lg">Contact us</a>
                </p>
            </div>
        </div>
    </div>
</section>
</div>

    <div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>