<div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="2687" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="s_text_block o_colored_level o_cc o_cc2 pb0 pt0" data-snippet="s_text_block" data-name="Text" style="background-color: rgb(0, 85, 255);">
      <div class="s_allow_columns o_container_small">
        <div class="row o_grid_mode" data-row-count="6">
          <div class="o_grid_item g-col-lg-12 o_colored_level g-height-6 col-lg-12" style="grid-area: 1 / 1 / 7 / 13; z-index: 1;">
            <img src="public/images/payment-img/gcash-logo.png" alt="" class="img img-fluid o_we_custom_image" style="transform: translateX(-0.6%) translateY(-17.2%) scaleX(0.42) scaleY(0.4); animation-play-state: paused; transition: none;" data-mimetype="image/png" data-original-id="892" data-original-src="/web/image/892-195fbc59/gcash-removebg-preview.png" data-mimetype-before-conversion="image/png" loading="lazy" />
            <div class="s_card card o_cc o_cc1 o_colored_level o_card_img_top" data-vxml="001" data-snippet="s_card" data-name="Card" style="max-width: 100%;">
              <figure class="o_card_img_wrapper ratio mb-0 ratio-16x9">
                <img src="public/images/qr-pay-img/testing.jpg" alt="" class="o_card_img img img-fluid o_we_custom_image o_we_image_cropped card-img-top" data-mimetype="image/svg+xml" data-original-id="893" data-original-src="/web/image/893-7e73c307/5.jpg" data-mimetype-before-conversion="image/jpeg" data-shape="web_editor/geometric_round/geo_round_square" data-file-name="5.svg" data-width="464" data-height="464" data-scale-x="1" data-scale-y="1" data-aspect-ratio="1/1" data-shape-colors=";;;;" data-original-mimetype="image/jpeg" loading="lazy" style="transform: translateY(21.5%) scaleX(0.98) scaleY(0.98);" />
              </figure>
              <div class="card-body">
                <h5 class="card-title"><br /></h5>
                <h5 class="card-title"><br /></h5>
                <h5 class="card-title"><br /></h5>
                <div class="s_text_highlight o_colored_level my-2 w-100 o_cc o_cc1 text-center" data-snippet="s_text_highlight" data-name="Text Highlight">
                  <div class="container" style="font-family: Helvetica, sans-serif; ">
                    <p><b>Transfer fees may apply.</b></p>
                    <h3 style="color: rgb(21, 76, 194); font-size: 30px;" class="Payment-Name-Of-Seller">JE****Y E.</h3>
                    <p style="color: rgb(72, 73, 77);"><p-opacity style="color: rgba(57, 77, 153, 0.6)";>Mobile No:</p-opacity> 096●●●●●421</p>
                    <p style="color: rgb(72, 73, 77);"><p-opacity style="color: rgba(57, 77, 153, 0.6)";>User Id:</p-opacity> ●●●●●●●●●●●●●●2JDK1H</p>
                    <h3 style="color: rgb(18, 25, 58); font-size: 30px; font-weight: bold;">₱ 5.00</h3>
                  </div>
                </div>
              </div>    
            </div>
            <!--display none this in mobile-->
            <h1 style="text-align: center;"><br /></h1>
          </div>
        </div>
      </div>
    </section>
    <section id="white_below_pc" style="display: block;" class="s_comparisons o_cc o_cc2 o_colored_level pb16 pt256" data-vxml="001" data-vcss="001" data-snippet="s_comparisons" data-name="Comparisons">
      <div class="container">
        <div class="row gap-4 gap-lg-0 o_grid_mode" data-row-count="12">
          <div class="o_grid_item g-col-lg-12 g-height-1 col-lg-12" style="grid-area: 12 / 1 / 13 / 13; z-index: 1;">
            <div class="mb-4">
              <h3><br /></h3>
              <p class="lead"><br /></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>