<div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="2688" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
  <section class="s_text_block pt40 pb0 o_cc2 o_colored_level" style="background-color: white;" data-snippet="s_text_block" data-name="Text">
    <div class="container s_allow_columns">
      <h1 style="text-align: center;">Select Payment Method</h1>
    </div>
  </section>
  <section class="s_comparisons o_cc o_cc2 o_colored_level pt0 pb120" style="background-color: white;" data-vxml="001" data-vcss="001" data-snippet="s_comparisons" data-name="Comparisons">
    <div class="container">
      <div class="row gap-4 gap-lg-0 o_grid_mode" data-row-count="8">
        <div class="o_grid_item g-height-20 g-col-lg-6 col-lg-6" data-name="Plan" style="z-index: 1; grid-area: 1 / 4 / 9 / 10;">
          <div class="" data-vxml="001" data-snippet="s_card" data-name="Card">
            <div class="card-body">
              <h5 class="card-title"><br/></h5>
              <div class="payment-container">
                  <button href="#" onclick="return navigateTo('gcashPayment')" class="gcash-button">GCash</button>
                  <div class="form-group">
                      <input type="number" id="amount" min="1" step="0.01" style="display: none;" value="20.00" readonly>
                  </div>
                  <div id="paypal-button-container"></div>
              </div>
              <p><br/></p>
            </div>
            <div class="card-footer text-center">
              <small class="text-center">​</small>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>