
<div class="container">
    <div class="row o_grid_mode" data-row-count="13">
        <div class="o_grid_item g-col-lg-5 g-height-9 col-lg-5" style="z-index: 1; grid-area: 1 / 8 / 10 / 13; --grid-item-padding-x: 24px">
            <h1 class="display-4">
                Empower <br/>your Business <br> with Visual <br/> and Digital Resources
              </h1>
            <p class="lead">
                <br/> Our dedication to digital innovation ensures seamless access to files, stunning wallpapers, and diverse digital assets, strengthening your business for today and the future.
            </p>
        </div>
        <div class="o_grid_item o_grid_item_image g-height-4 g-col-lg-4 col-lg-4" style="z-index: 2; grid-area: 1 / 1 / 5 / 5;">
            <img class="img img-fluid rounded" src="public/images/home-img/accessing techs.png" alt="" loading="lazy"/>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-height-9 g-col-lg-3 col-lg-3 d-lg-block d-none" style="z-index: 3; grid-area: 1 / 5 / 10 / 8;">
            <img class="img img-fluid rounded" src="public/images/home-img/speaker-socialmedia.jpg" alt="" loading="lazy"/>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-height-9 g-col-lg-4 col-lg-4 d-lg-block d-none" style="z-index: 4; grid-area: 5 / 1 / 14 / 5;">
            <img class="img img-fluid rounded" src="public/images/home-img/girlwithdigital products.png" alt="" loading="lazy"/>
        </div>
        <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-height-4 g-col-lg-8 col-lg-8 d-lg-block d-none" style="z-index: 5; grid-area: 10 / 5 / 14 / 13;">
            <img class="img img-fluid rounded" src="public/images/home-img/socialkit.jpg" alt="" loading="lazy"/>
        </div>
    </div>
</div>
</section><section class="s_numbers_list o_cc pt80 pb80 o_cc3" data-snippet="s_numbers_list">
    <div class="container">
        <div class="row s_nb_column_fixed">
            <div class="col-lg-5 pb32">
                <h3>
                    Key Milestones in Our Visual and Digital Resource Journey
                </h3>
                <p>
                    <br/> Our efficient digital products allow us to streamline operations, reduce overhead costs, and provide instant access to high-quality visual and digital resources for our customers.
                </p>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1">
                <p>
                    <span class="h2-fs">65%</span><br/> Increase in sales revenue
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
                <p>
                    <span class="h2-fs">98%</span><br/> Digital delivery efficiency (time from purchase to access)
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
                <p>
                    <span class="h2-fs">89%</span><br/> Customer satisfaction rate
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <p>
                    <span class="h2-fs">1 Million</span><br/> Upcoming digital Products
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
                <p>
                    <span class="h2-fs">800,000</span><br/> Digital files accessed <br>by Customers
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
                <p>
                    <span class="h2-fs">420,000</span><br/> Orders processed
                </p>
                <div class="s_hr pt16 pb40" data-snippet="s_hr" data-name="Separator">
                    <hr class="w-100 mx-auto"/>
                </div>
            </div>
        </div>
    </div>
</section><section class="s_color_blocks_2" data-snippet="s_color_blocks_2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 o_cc o_cc4">
                <h2 class="h3-fs">
                    Your Gateway to E-Commerce Success
                </h2>
                <p>
                    <br/> Digital delivery is the process of offering a wide range of digital files and assets without needing physical inventory. This allows businesses to provide instant access to customers, minimizing overhead and maximizing efficiency. We partner with creators and curate resources to deliver directly to your audience. <br/>
                </p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
            <div class="col-lg-6 p-0">
                <img src="public/images/home-img/smilinggirl-tech.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="" loading="lazy"/>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row o_grid_mode" data-row-count="16">
            <div class="o_grid_item o_grid_item_image g-col-lg-1 g-height-8 col-lg-1 d-lg-block d-none o_snippet_mobile_invisible" style="z-index: 1; grid-area: 2 / 1 / 10 / 2; --grid-item-padding-y: 0px; --grid-item-padding-x: 0px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/1.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item o_grid_item_image g-col-lg-3 g-height-5 col-lg-3 d-lg-block d-none o_snippet_mobile_invisible" style="z-index: 2; grid-area: 1 / 2 / 6 / 5; --grid-item-padding-y: 8px; --grid-item-padding-x: 16px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/2.1.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item o_grid_item_image g-col-lg-3 g-height-5 col-lg-3 d-lg-block d-none o_snippet_mobile_invisible" style="z-index: 3; grid-area: 6 / 2 / 11 / 5; --grid-item-padding-y: 8px; --grid-item-padding-x: 16px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/2.2.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item o_grid_item_image g-col-lg-3 g-height-8 col-lg-3 d-lg-block d-none o_snippet_mobile_invisible" style="z-index: 4; grid-area: 2 / 5 / 10 / 8; --grid-item-padding-y: 0px; --grid-item-padding-x: 0px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/3.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item o_grid_item_image g-col-lg-3 g-height-10 col-lg-3" style="z-index: 5; grid-area: 1 / 8 / 11 / 11; --grid-item-padding-y: 8px; --grid-item-padding-x: 16px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/4.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item o_grid_item_image g-col-lg-2 g-height-8 col-lg-2 d-lg-block d-none o_snippet_mobile_invisible" style="z-index: 6; grid-area: 2 / 11 / 10 / 13; --grid-item-padding-y: 0px; --grid-item-padding-x: 0px;">
                <img class="img img-fluid mx-auto rounded" src="public/images/home-img/5.jpg" alt="" loading="lazy"/>
            </div>
            <div class="o_grid_item g-height-5 g-col-lg-7 col-lg-7" style="z-index: 7; grid-area: 12 / 2 / 17 / 9; --grid-item-padding-y: 16px; --grid-item-padding-x: 16px;">
                <h2 style="text-align: left;">
                    Streamlined Solutions for E-Commerce: Instant Digital Access
                </h2>
                <p class="lead" style="text-align: left;">
                    Join us in revolutionizing online delivery of digital files and visual assets. We empower entrepreneurs and businesses with efficient, instant access for their customers.
                </p>
            </div>
            <div class="o_grid_item g-height-2 g-col-lg-3 col-lg-3" style="z-index: 8; grid-area: 12 / 9 / 14 / 12; --grid-item-padding-y: 16px; --grid-item-padding-x: 16px;">
                <p style="text-align: right;">
                    <a href="#" onclick="return navigateTo('contact')" class="btn btn-primary btn-lg">
                        Be Part of the E-commerce Revolution
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
