<div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="2671" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="s_banner pt96 pb96 o_cc o_cc3 o_colored_level"  data-snippet="s_banner" data-name="Banner">
        <div class="o_we_shape o_web_editor_Floats_12"></div>
        <div class="container">
            <div class="row o_grid_mode" data-row-count="10">
                <div class="o_grid_item o_grid_item_image g-col-lg-4 g-height-10 col-lg-4 d-lg-block d-none o_snippet_mobile_invisible o_colored_level" style="z-index: 2; grid-area: 1 / 8 / 11 / 12;">
                    <img class="img img-fluid mx-auto rounded" src="/public/images/templates-img/good-nature.jpg" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item o_grid_item_image g-col-lg-2 g-height-5 col-lg-2 d-lg-block d-none o_snippet_mobile_invisible o_colored_level" style="z-index: 3; grid-area: 2 / 11 / 7 / 13;" data-invisible="1">
                    <img class="img img-fluid mx-auto rounded" src="/public/images/templates-img/littlewaves.jpg" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item g-col-lg-4 o_colored_level g-height-4 col-lg-4" data-name="Box" style="z-index: 1; grid-area: 1 / 1 / 5 / 5;">
                    <h1>Elevate Your Brand With Us</h1>
                    <p class="lead">By Crafting unique and compelling brand identities that leave a lasting impact.</p>
                    <p><br/></p>
                    <div class="s_social_media text-start o_not_editable" data-snippet="s_social_media" data-name="Social Media">
                        <h4 class="s_social_media_title d-none">Social Media</h4>
                        <a target="_blank" href="/website/social/facebook" class="s_social_media_facebook" aria-label="Facebook">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-facebook"></i>
                        </a>    
                        <a target="_blank" href="/website/social/twitter" class="s_social_media_twitter" aria-label="X">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-twitter"></i>
                        </a>
                        <a target="_blank" href="/website/social/linkedin" class="s_social_media_linkedin" aria-label="LinkedIn">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="/website/social/youtube" class="s_social_media_youtube" aria-label="YouTube">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-youtube"></i>
                        </a>
                        <a target="_blank" href="/website/social/instagram" class="s_social_media_instagram" aria-label="Instagram">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-instagram"></i>
                        </a>
                        <a target="_blank" href="/website/social/github" class="s_social_media_github" aria-label="GitHub">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-github"></i>
                        </a>
                        <a target="_blank" href="/website/social/tiktok" class="s_social_media_tiktok" aria-label="TikTok">
                            <i class="fa rounded-circle shadow-sm o_editable_media fa-tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-snippet="s_features" class="o_colored_level">
        <div class="container">
            <div class="col-lg-12">
                <h3>Everything you need</h3>
                <p class="lead">List and describe the key features of your solution or service.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 o_colored_level">
                    <div class="s_hr pt-4 pb32" data-name="Separator">
                        <hr class="w-100 mx-auto"/>
                    </div>
                    <i class="s_features_icon fa bg-o-color-3 fa-leaf mb-4 rounded-circle" role="img"></i>
                    <div class="overflow-hidden">
                        <h3 class="h5-fs">Marketing</h3>
                        <p>From SEO to social media, we create campaigns that not only get you noticed but also drive engagement and conversions.</p>
                    </div>
                </div>
                <div class="col-lg-4 o_colored_level">
                    <div class="s_hr pt-4 pb32" data-name="Separator">
                        <hr class="w-100 mx-auto"/>
                    </div>
                    <i class="s_features_icon fa bg-o-color-3 fa-flash mb-4 rounded-circle" role="">🗲</i>
                    <div class="overflow-hidden">
                        <h3 class="h5-fs">Rebranding</h3>
                        <p>Your brand is your story. We help you tell it through cohesive visual identity and messaging that resonates with your audience.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="s_hr pt-4 pb32" data-name="Separator">
                        <hr class="w-100 mx-auto"/>
                    </div>
                    <i class="s_features_icon fa bg-o-color-3 fa-tint mb-4 rounded-circle" role="img"></i>
                    <div class="overflow-hidden">
                        <h3 class="h5-fs">Consulting</h3>
                        <p>Empowering your business through strategic digital insights and expertise.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s_masonry_block pt48 pb48 o_colored_level" data-vcss="001" data-vxml="001" data-snippet="s_masonry_block" data-name="Masonry">
        <div class="container">
            <div class="row o_grid_mode" data-row-count="8" style="gap: 16px;" data-snippet="new_page_template_landing_1_s_masonry_block_default_template">
                <div class="o_grid_item o_grid_item_image g-height-8 g-col-lg-5 col-lg-5 text-center order-lg-0 rounded-4" data-name="Block" style="order: 0; z-index: 1; grid-area: 1 / 1 / 9 / 6;">
                    <img src="/public/images/templates-img/paper-penicl.jpg" class="img img-fluid mx-auto" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item o_cc o_cc2 g-height-4 g-col-lg-3 col-lg-3 justify-content-end order-lg-0 rounded-4" data-name="Block" style="order: 2; --grid-item-padding-y: 20px; --grid-item-padding-x: 20px; z-index: 2; grid-area: 1 / 6 / 5 / 9;">
                    <h3>Key <br class="d-none d-lg-inline"/>Milestone</h3>
                    <p>Reaching new heights</p>
                </div>
                <div class="o_grid_item o_cc o_cc3 g-height-4 g-col-lg-4 col-lg-4 justify-content-end order-lg-0 rounded-4 o_colored_level" data-name="Block" style="order: 1; --grid-item-padding-y: 20px; --grid-item-padding-x: 20px; z-index: 3; grid-area: 1 / 9 / 5 / 13; background-image: linear-gradient(135deg, var(--o-color-4) -400%, var(--o-color-2) 100%);">
                    <h3>Greater <br class="d-none d-lg-inline"/>Impact</h3>
                    <p>Making a difference every day</p>
                </div>
                <div class="o_grid_item o_cc o_cc4 g-height-4 g-col-lg-4 col-lg-4 justify-content-end order-lg-0 rounded-4" data-name="Block" style="order: 3; --grid-item-padding-y: 20px; --grid-item-padding-x: 20px; z-index: 4; grid-area: 5 / 6 / 9 / 10; background-image: linear-gradient(135deg, var(--o-color-4) -400%, var(--o-color-1) 100%);">
                    <h3>Innovation <br class="d-none d-lg-inline"/>Hub</h3>
                    <p>Where ideas come to life</p>
                </div>
                <div class="o_grid_item o_cc o_cc2 g-height-4 g-col-lg-3 col-lg-3 justify-content-end order-lg-0 rounded-4" data-name="Block" style="order: 4; --grid-item-padding-y: 20px; --grid-item-padding-x: 20px; z-index: 5; grid-area: 5 / 10 / 9 / 13;">
                    <h3>Community <br class="d-none d-lg-inline"/>Focus</h3>
                    <p>Building connections</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="o_shared_blocks" class="oe_unremovable" data-oe-id="605" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
